<div class="container my_container">

    Current time: <font color=silver><i>{{ now }}</i></font>
    <br>

    {% if res_test == 'TRUE' %}
        Connect to API : <font color=green>{{ res_test }}</font>
    {% else %}
        Connect to API : <font color=red>{{ res_test }}</font>
    {% endif %} 

    <br><br>

    <div style="vertical-align:top;margin:0;padding:0;">
        <div style="display:inline-block;vertical-align:top;margin:0;padding:0;">
            {% if fake == 'TRUE' %}
                <button type="button" name="btn_add_fake" id="btn_add_fake" class="btn btn-primary btn_add">ADD Fake Entry</button>
            {% else %}
                <button type="button" name="btn_add_fake" id="btn_add_fake" class="btn btn-primary btn_add" disabled>ADD Fake Entry</button>
            {% endif %} 
            &nbsp;<font color=silver><i>( nom | email ) see TestApiAction.php, _crud.php</i></font>
        </div>

        <br><br>

        <div style="display:inline-block;vertical-align:top;margin:0;padding:0;">
            {% if fake == 'TRUE' %}
            <button type="button" name="btn_add_form_open" id="btn_add_form_open" class="btn btn-primary btn_add">ADD Real Entry</button>
            {% else %}
            <button type="button" name="btn_add_form_open" id="btn_add_form_open" class="btn btn-primary btn_add" disabled>ADD Real Entry</button>
            {% endif %} 
            &nbsp;<font color=silver><i>( nom | email ) see TestApiAction.php, _crud.php</i></font>
        </div>

        <br><br>
        
        <div id="div_form_add" name="div_form_add" class="row" style="display:none;">
            <div class="col-sm-8 col-sm-offset-2 well">

                <div class="col-sm-12 form-column">
                    <form id="form_add">

                        <div class="form-group">
                            <label for="country">Nom</label>
                            <input type="text" id="nom" name="nom" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>

                        <button type="button" name="btn_add_form" id="btn_add_form" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="input-group"> 
            <span class="input-group-btn">
                <button type='button' name="btn_search_by" id="btn_search_by" class="btn btn-default">
                <i class="fa fa-search"></i>&nbsp;&nbsp;RESTFUL Search by</span>
                </button>      
                <select name='search_select_col_restful' id='search_select_col_restful' class="form-control" style="width:auto;">
                    {% for key, value in table_fetchAll[0] %}
                        <option>{{ key }}</option>
                    {% endfor %}
                </select>
                <input name='search_input_restful' id='search_input_restful' class="form-control" type='text' value='Miss' style="width:auto;">    
            </span>
        </div>
    </div>

    <br>

    {# <div class="input-group"> 
        <select name='nResult_select' id='nResult_select' class="form-control" style="width:auto;" data-table="{{ table[0] }}">
            {% for value in n_results_array %}
                <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div> #}

    <table id="table_results" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                {% for key, value in table_fetchAll[0] %}
                    <th>{{ key }}</th>
                {% endfor %}
                <th class="text-center">
                    <div align="center">
                        <button type="button" name="btn_delete" id="btn_delete" class="btn btn-xs btn-danger">Delete</button>
                        &nbsp;&nbsp;<input type="checkbox" id="btn_delete_all" name="btn_delete_all">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody> 
            {% for key,values in table_fetchAll %}
            <tr id="{{ values.id }}">
                {% for field, value in values %}
                    <td styleX="background-color: red !important;">
                        <a data-name="{{ field }}" data-type="text" data-pk="{{ values.id }}" data-url="path">
                            {{ value }}
                        </a>
                    </td>
                {% endfor %}
                <td class="text-center delete-tr">
                    <input type="checkbox" name="checkbox-delete_{{ values.id }}" class="checkbox-delete" value="{{ values.id }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="input-group"> 
        <select name='nResult_select' id='nResult_select' class="form-control" style="width:auto;" data-table="{{ table[0] }}">
            {% for value in n_results_array %}
                <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    {% include 'table_pagination.twig' %}

</div>


<script>

$(document).ready(function(){

    $("#nResult_select").val("{{ n_results }}");

    function url_baseDirname(path){
        var spliPath = path.split('/');
        return spliPath[spliPath.length - 2];
    }

    function url_getTable(path){
        var spliPath = path.split('/');
        return spliPath[spliPath.length - 1];
    }

    function clear_delete_checkbox(){
        $('.checkbox-delete').each(function(){
            $('.checkbox-delete').prop('checked', false);
        });
        $('#btn_delete_all').prop('checked', false);
    }

    $("#btn_add_form_open").click(function(){
        $("#div_form_add").toggle();
    });

    $('#nResult_select').on('change', function() {
        var url_baseDirname_select = url_baseDirname(window.location.href);
        var url = url_baseDirname_select+'/{{ table }}?n_results='+this.value+'';
        window.location.replace(url);
    });

    $('#btn_add_fake').click(function(){
        $.ajax({
            url:'../public/_crud.php',
            method:'POST',
            data:{
                table:'{{ table }}',
            crud:'add',
            fake:'true'
            },
            success:function(response)
            {
                console.log(response);
                if (response == 'TRUE'){
                    clear_delete_checkbox();
                    setTimeout(function(){ 
                        location.reload(); // optional
                    }, 1000);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    });

    $('#btn_add_form').click(function(){
        $.ajax({
            url:'../public/_crud.php',
            method:'POST',
            data:{
                table:'{{ table }}',
                nom:'name',
                email:'email@zozo.fr',
                crud:'add',
                fake:'false'
                },
            success:function(response)
            {
                console.log(response);
                if (response == 'TRUE'){
                    clear_delete_checkbox();
                    setTimeout(function(){ 
                        location.reload(); // optional
                    }, 1000);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    });




    $('.a_btTables').click(function(){
        var url = url_baseDirname(window.location.href)+'/'+$(this).data("table")+'?n_results={{ n_results }}';
        window.location.replace(url);
    });

    $('.btTables').click(function(){
        var url = url_baseDirname(window.location.href)+'/'+$(this).data("table")+'?n_results={{ n_results }}';
        window.location.replace(url);
    });

    $('#btn_search_by').click(function(){
        c = document.getElementById('search_select_col_restful');
        var col = c.options[c.selectedIndex].value;
        var search = document.getElementById('search_input_restful').value;
        window.open('api/{{ table }}/search/'+col+'/'+search+'','_blank');
    });

    $('.checkbox-delete').click(function(){
        id = $(this).val();
        if( $(this).is(':checked') ){
            $(this).closest('.delete-tr').css({'background-color': 'red'});
        }else{
            $(this).closest('.delete-tr').css({'background-color': ''});
        }
    });

    $('#btn_delete').click(function(){
        var ids = [];
        $('.checkbox-delete:checked').each(function(i){
            ids[i] = $(this).val();
        });

        if(ids.length === 0)
        {
            alert("Please Select at least one checkbox");
        } else {

            if(confirm("Are you sure you want to delete array ID ["+ ids +"] ?"))
            {
                $.ajax({
                url:'../public/_crud.php',
                method:'POST',
                data:{table:'{{ table }}',ids:ids,crud:'delete'},
                success:function(response)
                {
                    console.log(response);
                    if (response == 'TRUE'){
                        ids.forEach(function(id) {
                            $(this).closest('.delete-tr').css({'background-color': 'red'});
                            $('tr#'+id+'').fadeOut('slow');
                        });
                        clear_delete_checkbox();
                        setTimeout(function(){ 
                            location.reload(); // optional
                        }, 1000);
                    }
                },
                error: function(err){
                    console.log(err);
                }
                });

            }else{
                location.reload(); // optional
                return false;
            }

        }
    });
 
    $('#btn_delete_all').click(function(){

        if( $('#btn_delete_all').is(':checked') ){
            $('.checkbox-delete').each(function(){
                $('.checkbox-delete').prop('checked', true);
        });

        } else {    
            clear_delete_checkbox();
        }

    });

});

</script>
