{% include 'head.twig' %}
    <title>Slim3 backend</title>
</head>
<body>

<!--Header-->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid"><!--.container-fluid -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">
                    <img style="max-width:32px; margin-top: -7px;"
                            src="{{ base_url() }}/img/favicon.png">
                </a>
                <a class="navbar-brand">SLIM3 TEST API | table <b>{{ table }}</b></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"><!-- .navbar-collapse -->
            <div class="navbar-form navbar-right">
                {% for key, table in tables %}
                    <button type="button" name="btn_apiClient_{{ table[0] }}" id="btn_apiClient_{{ table[0] }}" data-table="{{ table[0] }}" class="btn btn-default btTables">test&nbsp;&nbsp;{{ table[0] }}</button>
                {% endfor %}
                <button type="button" class="btn btn-default" styleX="margin-top:9px;" onClick="window.location.reload();">
                    <i class="fa fa-refresh"></i>
                    Refresh
                </button>
            </div>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
</header>

<main>
    <div class="container my_container">
        <br>
        Current time: <font color=silver><i>{{ now }}</i></font>
        <br>

        {% if res_test == 'TRUE' %}
            Connect to API : <font color=green>{{ res_test }}</font>
        {% else %}
            Connect to API : <font color=red>{{ res_test }}</font>
        {% endif %} 

        <br><br>

        <div style="vertical-align:top;margin:0;padding:0;">
            <div style="display:inline-block;vertical-align:top;margin:0;padding:0;">
                {% if fake == 'TRUE' %}
                    <button type="button" name="btn_add_fake" id="btn_add_fake" class="btn btn-primary">ADD Fake Entry</button>
                {% else %}
                    <button type="button" name="btn_add_fake" id="btn_add_fake" class="btn btn-primary" disabled>ADD Fake Entry</button>
                {% endif %} 
                &nbsp;<font color=silver><i>( name | email ) see TestApiAction.php, _crud.php</i></font>
            </div>

            <br><br>

            <div class="input-group"> 
                <span class="input-group-btn">
                    <button type='button' name="btn_search_by" id="btn_search_by" class="btn btn-default">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;RESTFUL Search by</span>
                    </button>      
                    <select name='search_select_col_restful' id='search_select_col_restful' class="form-control" style="width:auto;">
                        {% for key, value in table_fetchAll[0] %}
                            <option>{{ key }}</option>
                        {% endfor %}
                    </select>
                    <input name='search_input_restful' id='search_input_restful' class="form-control" type='text' value='Miss' style="width:auto;">    
                </span>
            </div>
        </div>

        <br>

        <table id="listquestions" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for key, value in table_fetchAll[0] %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    <th class="text-center">
                        <div align="center">
                            <button type="button" name="btn_delete" id="btn_delete" class="btn btn-xs btn-danger">Delete</button>
                            &nbsp;&nbsp;<input type="checkbox" id="btn_delete_all" name="btn_delete_all">
                        </div>
                    
                    </th>
                </tr>
            </thead>
            <tbody> 
                {% for key,values in table_fetchAll %}
                <tr id="{{ values.id }}">
                    {% for field, value in values %}
                        <td>
                            <a data-name="{{ field }}" data-type="text" data-pk="{{ values.id }}" data-url="path">
                                {{ value }}
                            </a>
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <input type="checkbox" name="checkbox-delete_{{ values.id }}" class="checkbox-delete" value="{{ values.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
</main>  

<br><br>

</body>
</html>

<script>

$(document).ready(function(){

    function url_baseDirname(path){
        var spliPath = path.split('/');
        return spliPath[spliPath.length - 2];
    }

    function clear_delete_checkbox(){
        $('.checkbox-delete').each(function(){
            $('.checkbox-delete').prop('checked', false);
        });
        $('#btn_delete_all').prop('checked', false);
    }

    $('#btn_add_fake').click(function(){

        $.ajax({
            url:'../public/_crud.php',
            method:'POST',
            data:{table:'{{ table }}',crud:'add',fake:'true'},
            success:function(response)
            {
                console.log(response);
                if (response == 'TRUE'){
                    clear_delete_checkbox();
                    setTimeout(function(){ 
                        location.reload(); // optional
                    }, 1000);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    });


    $('.btTables').click(function(){
        url_baseDirname = url_baseDirname(window.location.href);
        window.location.replace(''+url_baseDirname+'/'+$(this).data("table")+'');
    });

    $('#btn_search_by').click(function(){
        c = document.getElementById('search_select_col_restful');
        var col = c.options[c.selectedIndex].value;
        var search = document.getElementById('search_input_restful').value;
        window.open('api/{{ table }}/search/'+col+'/'+search+'','_blank');
    });

    $('#btn_delete').click(function(){
            var ids = [];
            $('.checkbox-delete:checked').each(function(i){
                ids[i] = $(this).val();
            });
            if(ids.length === 0)
            {
                alert("Please Select at least one checkbox");
            } else {

            if(confirm("Are you sure you want to delete array ID ["+ ids +"] ?"))
            {
                $.ajax({
                url:'../public/_crud.php',
                method:'POST',
                data:{table:'{{ table }}',ids:ids,crud:'delete'},
                success:function(response)
                {
                    console.log(response);
                    if (response == 'TRUE'){
                        ids.forEach(function(id) {
                            $('tr#'+id+'').css('background-color', 'red');
                            $('tr#'+id+'').fadeOut('slow');
                        });
                        clear_delete_checkbox();
                        setTimeout(function(){ 
                            location.reload(); // optional
                        }, 1000);
                    }
                },
                error: function(err){
                    console.log(err);
                }
                });

            }else{
                location.reload(); // optional
                return false;
            }

        }
    });
 
    $('#btn_delete_all').click(function(){

        if( $('#btn_delete_all').is(':checked') ){
            $('.checkbox-delete').each(function(){
                $('.checkbox-delete').prop('checked', true);
        });

        } else {    
            clear_delete_checkbox();
        }

    });


});

</script>
